<div class="center jumbotron">
  <h1>Welcome to the MedApp</h1>
  <h2>
    This application is created for finding the right doctor and online appointment
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<div>
  <style>
      .fig {
          text-align: center; /* Выравнивание по центру */
      }
  </style>
  <p class="fig"><img src="rails.png" width="700" height="400"></p>
</div>