<h1>Editing recomendation</h1>

<%= render "form", recomendation: @recomendation %>

<br>

<div>
  <%= link_to "Show this recomendation", @recomendation %> |
  <%= link_to "Back to recomendations", recomendations_path %>
</div>
